@model WebApi.Models.DTOs.MasterProductCreateDto

<form id="createForm" asp-action="Create" asp-controller="MasterProduct" method="post">
    <div class="row">
        <!-- Cột trái -->
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Mã sản phẩm<span class="text-danger">*</span></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label class="form-label">Tên sản phẩm <span class="text-danger">*</span></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Đơn vị tính <span class="text-danger">*</span></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
        </div>

        <!-- Cột phải -->
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Qui cách <span class="text-danger">*</span></label>
                <input asp-for="Specification" class="form-control" />
                <span asp-validation-for="Specification" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Số lượng/thùng <span class="text-danger">*</span></label>
                <input asp-for="QuantityPerBox" class="form-control" />
                <span asp-validation-for="QuantityPerBox" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Trọng lượng <span class="text-danger">*</span></label>
                <input asp-for="ProductWeight" class="form-control" />
                <span asp-validation-for="ProductWeight" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-success">Thêm mới</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>

    </div>
</form>
